<form action="/productos" method="POST">
    <label for="title">
        {{titulo}}
    </label>
    <input id="title" type = "text" name="title">
    <br>
    <label for="price">
        {{titulo2}}
    </label>
    <input id="price" type = "text" name="price">
    <br>
    <label for="thumbnail">
        {{titulo3}}
    </label>
    <input id="thumbnail" type = "text" name="thumbnail">
    <input type="submit" value="Subir">
    <br>
</form>
<form action="/productos" method="GET">
    <input type="submit" value="Ir a Productos">
</form>
    