 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  </head>
  <body>
    <form action="/productos" method="POST">
    <label for="title">
        <p>#{titulo}</p>
    </label>
    <input id="title" type = "text" name="title">
    <br>
    <label for="price">
        <p>#{titulo2}</p>
    </label>
    <input id="price" type = "text" name="price">
    <br>
    <label for="thumbnail">
        <p>#{titulo3}</p>
    </label>
    <input id="thumbnail" type = "text" name="thumbnail">
    <input type="submit" value="Subir">
    <br>
    </form>
    <form action="/productos" method="GET">
    <input type="submit" value="Ir a Productos">
    </form>
  </body>
</html>